/* Sidebar Styles */



/*---------------------------------- */
/*----------     Aside    -----------*/
/*---------------------------------- */

div.quotes { /* --------- Customer Quotes --------- */
	margin-left: -2%;
}
.testimonial {
	width: 31%;
	margin: 0 0 0 2%;
	float: left;
	position: relative;
	z-index: 1;
	@media screen and (max-width: $mobile-h) {
		width: 100%;
	}
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) {
		width: 48%;
		blockquote:last-child {
			display: none;
		}
	}
}

.client-quotes, .related-sites {
	h2 {
		width: 100%;
		font-size: 1.4em;
		text-shadow: 0 1px white;
		display: block;
		vertical-align: middle;
		margin-bottom: $base;
		.us-icon, .testimonial-icon {
			font-size: 1.4em;
		}
		.related-sites-icon {
			font-size: 1.2em;
		}
	}
}

.related-sites h3 {
	margin-bottom: 0;
	font-size: 1.4em;
}

blockquote:before {
	font-family: 'ted-icons';
	speak: none;
	font-style: normal;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1;
	@include font-smoothing(antialiased);
	content: '\e90b';
	color: darken($tan,1%);
	position: absolute;
	top: 0.125em;
	left: 0;
	z-index: -1;
}

.client-quotes {
	padding-bottom: ($base *2);
	p {
		font-size: $font14;
		text-indent: 1.5em;
		margin-bottom: 0;
		z-index: 2;
	}
	cite {
		font-size: $font12;
		font-weight: bold;
		margin-left: 1.5em;
		&:before {
			content: '—'
		}
		a {
			color: $orange;
			font-weight: normal;
			&:hover {
				color: $text;
			}
		}
	}
}


.related-sites li {
	@media screen and (min-width: $laptop) and (max-width: $computer-h) {
		&:nth-child(4) {		// remove widow project when 3-up
			display: none;
		}
	}
}


/*---------------------------------- */
/*----------    Sidebar   -----------*/
/*---------------------------------- */

.sidebar-social-links { /* --------- Social Links --------- */
	width: 100%;
	background: rgba(255,255,255,0.4);
	padding: $base 0;
	margin-bottom: ($base*2);
	h3 {
		text-align: center;
	}
	ul {
		border: none;
		height: auto;
	}
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) {
		width: 100%;
		margin-top: $base;
		margin-right:0;
	}
}
.fb-like-box {
	background: white;
}
.twitter-follow {
	margin-top: $base;
	margin-bottom: $base;
}
.twitter-timeline {
	width: 286px;
	margin-top: $base;
	margin-bottom: ($base*0.5);
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) {
		width:48%;
		float: right;
		margin-right: 2%;
	}
}
